<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            overflow: hidden;
        }

        .main-page {
            width: 100vw;
            height: 100vh;
            background-color: #000000;

        }

        /* small -circle */
        .circle-small {
            position: relative;
            text-align: right;
            margin-top: -85px;

        }

        .dot1 {
            height: 200px;
            width: 200px;
            background-color: rgb(99, 6, 6);
            border-radius: 50%;
            display: inline-block;
            margin-right: -50px;
        }

        .dot2 {
            height: 200px;
            width: 200px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            margin-right: -80px;

        }

        /* big-circle */

        .circle-big {
            position: relative;
            text-align: left;
            margin-top: 400px;
        }

        .dot3 {
            height: 120px;
            width: 120px;
            background-color: rgb(99, 6, 6);
            border-radius: 50%;
            display: inline-block;
            margin-left: -30px;

        }

        .dot4 {
            height: 120px;
            width: 120px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            margin-left: -30px;


        }
    </style>

</head>

<body>
    <section class="main-page">
        <h2>web design</h2>
        <div class="circle-small">

            <span class="dot1"></span>
            <span class="dot2"></span>
        </div>

        <div class="circle-big">

            <span class="dot3"></span>
            <span class="dot4"></span>
        </div>



    </section>
</body>

</html>